<html>

	<head>
		<title>Eatsy Delivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--<link rel="stylesheet" href="assets/css/main.css" />-->
        
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

	<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					
						<%= render "layouts/nav" %>

<h1> You've just placed an order...!</h1>
<br>

<h1>Expect delivery between 6-7 pm on the day you ordered for...</h1>
<br>
You'll receive a text to come out when you're order has arrived...a central location for pick-up will be established if you've missed your delivery." <br>
<h1> --contact for (1-973-986-8434) for questions. </h1>
</div>
</body>

</html>