
<html>
	<head>
		<title>Eatsy Delivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--<link rel="stylesheet" href="assets/css/main.css" />-->
        
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					
						<%= render "layouts/nav" %>
					

			<form action="/order" method="post" accept-charset="utf-8">
            <h2 id = "order-title">Order Form</h2>


            <p>* Need a bulk order by a certain date? <%= link_to "Contact Us", contact_path %> for discounts and delivery options. </p>


              <table class = "table-wrapper" >
                        <tr id = "tablehead">
                             <th style="text-align:center" >Product</th>
                            
                              <th style="text-align:center" >Quantity</th>
                            
                             <th style="text-align:center">Unit Price</th>
                             
                             <th style="text-align:center">Totals</th>
                        </tr>
                       
                        <tr class="odd">
                            <td class="product-title">Chicken Burrito</td>
                            
                            <td class="num-pallets"><input name="chicken" type="text" class="num-pallets-input" id="num_chicken"></td>
                            <td class="price-per-pallet">$<span>11</span></td>
                            
                            <td class="row-total"><input type="text" class="row-total-input" id="sparkle-row-total" disabled="disabled"></td> 
                        </tr>
                       
                        <tr class="even">
                            <td class="product-title">Steak Burrito</td>
    
                            <td class="num-pallets"><input name="steak" type="text" class="num-pallets-input" id="turface-mvp-num-pallets"></td>
                            
                            <td class="price-per-pallet">$<span>11</span></td>
                            
                            <td class="row-total"><input type="text" class="row-total-input" id="turface-mvp-row-total" disabled="disabled"></td> 
                            
                        </tr>
                       
                        <tr class="odd">
                            <td class="product-title">Carnitas Burrito</td>
                            
                             
                            <td class="num-pallets"><input name="carn" type="text" class="num-pallets-input" id="turface-pro-league-num-pallets" ></td>
                            
                            <td class="price-per-pallet">$<span>11</span></td>
                            
                            <td class="row-total"><input type="text" class="row-total-input" id="turface-pro-league-row-total" disabled="disabled"></td>
                            
                        </tr>
                       
                        <tr class="even">
                            <td class="product-title">Barbacoa Burrito</td>
                            
                             <td class="num-pallets"><input name="barb" type="text" class="num-pallets-input" id="turface-pro-league-red-num-pallets"></td>
                    
                            <td class="price-per-pallet">$<span>11</span></td>
                            
                            <td class="row-total"><input type="text" class="row-total-input" id="turface-pro-league-red-row-total" disabled="disabled"></td> 
                              
                        </tr>
                       
                        <tr class="odd">
                            <td class="product-title">Vegetarian Burrito</td>
                            
                            <td class="num-pallets"><input name="veg" type="text" class="num-pallets-input" id="turface-quick-dry-num-pallets" ></td>
                            
                            <td class="price-per-pallet">$<span>11</span></td>
                            
                            <td class="row-total"><input type="text" class="row-total-input" id="turface-quick-dry-row-total" disabled="disabled"></td> 
                            
                        </tr>
                        <tr class="even">
                            
                            <td class="product-title">Chips and Guacamole </td>
                            
                            <td class="num-pallets"><input name="ChipMole" type="text" class="num-pallets-input" id="turface-mound-clay-red-num-pallets"></td>
                            
                            <td class="price-per-pallet">$<span>5</span></td>
                           
                            <td class="row-total"><input type="text" class="row-total-input" id="turface-mound-clay-red-row-total" disabled="disabled"></td> 
                        </tr>



                        <tr class="even">
                            <td class="product-title">Combo (Burrito, Chips/Guacamole, Drink) specify in comments </td>

                            <td class="num-pallets"><input name="combo" type="text" class="num-pallets-input" id="diamond-pro-drying-agent-num-pallets"></td>

                            <td class="price-per-pallet">$<span>15</span></td>

                            <td class="row-total"><input type="text" class="row-total-input" id="diamond-pro-drying-agent-row-total" disabled="disabled"></td>
                        </tr>

                        <tr class="odd">
                            <td class="product-title">Drink (coke, sprite, powerade, iced tea) specify in comments </td>

                            <td class="num-pallets"><input name="drink" type="text" class="num-pallets-input" id="diamond-pro-red-num-pallets" ></td>
                            
                            <td class="price-per-pallet">$<span>2</span></td>
                           
                            <td class="row-total"><input type="text" class="row-total-input" id="diamond-pro-red-row-total" disabled="disabled"></td>
                       
                       </tr>
                       

                    </table>


        <p>* All burritos contain black beans, cheese, sour cream, mild salsa, brown rice and lettuce. If you would like to alter any of these ingredients specify in the comments! </p>

        <div >
            <span>Order Total: </span>
            <input type="text" class="total-box" value="$0" id="order-total" disabled="disabled"
style="text-align: center;">
            <br />
        </div>

        <div style="text-align: center;">
            <span>Comments: </span>
            <input type="text" name="comments" id="comments">
            <br />
            </div>




                <!-- Main -->
			                 
                        <h2>Delivery Information</h2>
                            
                            <fieldset>
                                <div>
                                    <input name="name" type="text" id= "name" placeholder="Name">
                                </div>

                                <div>
                                    <label for="location"></label>
                                    <input name="location" type="text" placeholder="Location (Dorm/Greek House/Off Campus Hanover Only)">
                                </div>
                                
                                <div>
                                    <label for="phone_number"></label>
                                    <input id="phone_number" type="text" name="number" placeholder="Phone Number">
                                </div>

                                <div >
                                    <label for="email"></label>
                                    <input id="email" name="email" type="email" placeholder="Email Address">
                                </div>


                               <p> * Order will be delivered between 6-7 pm on Friday.</p>
                               <!-- <div id = "day_select">
                                <label for="day_select" style = "text-align:center;">Delivery Date:</label>
                                <div>

                                </div>
                                <input type="radio" name="day" value="wed" id = "wed" checked>
                                    <label for="wed">Wednesday</label>
                                <input type="radio" name="day" value="sat" id = "sat">
                                    <label for="sat">Saturday</label>
                                </div> -->


                                
                            </fieldset>



                            <input type="submit" value="Submit" class = "button special" style = "text-align:center;">
                        </form>
						
				
                    </article>
				

			</div>

		<!-- Scripts -->
			<!--<script src="assets/jquery.min.js"></script>
			<script src="assets/jquery.scrollex.min.js"></script>
			<script src="assets/jquery.scrolly.min.js"></script>
			<script src="assets/skel.min.js"></script>
			<script src="assets/util.js"></script>-->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<!--<script src="assets/main.js"></script>-->

	</body>
</html>