<html>
<head>
<title>Contact Us</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

<!-- Header -->

    <%= render "layouts/nav" %>

<!-- Main -->
<article id="main">
<header>
<h2>Contact Us</h2>
<p>If you have any questions or would like to place a bulk order, please feel free to contact the Eatsy Delivery Staff.</p>

<p>Phone Number: 1-973-986-8434 </p>
<p>Email: contact@eatsydelivery.com</p>
</header>

<section class="wrapper style5">
<div class="inner">

<h2 style="text-align:center">Bulk Orders Discount</h2>

<table class = "table-wrapper" >
    <tr id = "tablehead">
        <th style="text-align:center" >Number of Burritos</th>

        <th style="text-align:center" >Reduced Price per burrito</th>

    </tr>


    <tr class="odd">
        <td class="product-title"> at least 25 burritos</td>
        <td style = "text-align:center">$10</td>
    </tr>

    <tr class="even">
        <td class="product-title"> at least 50 burritos</td>
<td style = "text-align:center">$9</td>
    </tr>

    <tr class="odd">
        <td class="product-title"> at least 100 burritos</td>
        <td style = "text-align:center">$8</td>
    </tr>

</table>
</section>
</article>



</div>


</body>
</html>






